services:
  oob-hub:
    build:
      context: .
      network: host
      args:
        DMODEM_SOURCE: ${DMODEM_SOURCE:-build}
        DMODEM_REF: ${DMODEM_REF:-59cacd766de7e093c9ef2109f146f417f2b6a945}
        DMODEM_MAKE_FLAGS: ${DMODEM_MAKE_FLAGS:-NO_PULSE=1}
        DMODEM_PJSIP_CONFIGURE_FLAGS: ${DMODEM_PJSIP_CONFIGURE_FLAGS:---enable-epoll --disable-video --disable-sound --enable-ext-sound --disable-speex-aec --enable-g711-codec --disable-l16-codec --disable-gsm-codec --disable-g722-codec --disable-g7221-codec --disable-speex-codec --disable-ilbc-codec --disable-sdl --disable-ffmpeg --disable-v4l2 --disable-openh264 --disable-vpx --disable-android-mediacodec --disable-darwin-ssl --disable-ssl --disable-opencore-amr --disable-silk --disable-opus --disable-bcg729 --disable-libyuv --disable-libwebrtc}
    container_name: oob-console-hub
    restart: unless-stopped
    env_file:
      - .env
    # Host networking eliminates SIP NAT issues
    network_mode: host
    volumes:
      # Session logs persist on host
      - ./logs:/var/log/oob-sessions
      # Site config can be edited without rebuild
      - ./config/oob-sites.conf:/etc/oob-sites.conf:ro
      # User accounts persist across container rebuilds
      - oob-userdata:/data/users
    cap_add:
      - SYS_ADMIN
    ulimits:
      nofile:
        soft: ${NOFILE_LIMIT:-512}
        hard: ${NOFILE_LIMIT:-512}

volumes:
  oob-userdata:
