; IAXmodem instance template
; __N__ is replaced by the instance number (0-7) at startup

[ttyIAX__N__]
device          /dev/ttyIAX__N__
owner           asterisk:asterisk
mode            660
port            __IAX_PORT__
refresh         300
server          127.0.0.1
peername        iaxmodem__N__
secret          iaxmodem__N__secret
cidname         OOB-Modem-__N__
cidnumber       __N__
codec           ulaw
